.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__xtBd6 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__xtBd6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__xtBd6 > :global(.__wab_flex-container) > *,
.freeBox__xtBd6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xtBd6 > :global(.__wab_flex-container) > picture > img,
.freeBox__xtBd6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xtBd6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xtBd6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xtBd6 > :global(.__wab_flex-container) > *,
  .freeBox__xtBd6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xtBd6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__xtBd6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__yckV2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__yckV2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__yckV2 > :global(.__wab_flex-container) > *,
.freeBox__yckV2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yckV2 > :global(.__wab_flex-container) > picture > img,
.freeBox__yckV2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__qz60Q {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text__o7IZz {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg___67Wsw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__jB9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__qSdxu:global(.__wab_instance) {
  position: relative;
}
.svg__ntLjz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__npn8D {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__uTzZi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__uTzZi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__uTzZi > :global(.__wab_flex-container) > *,
.freeBox__uTzZi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uTzZi > :global(.__wab_flex-container) > picture > img,
.freeBox__uTzZi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__b53By {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__nw2Q4 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__nw2Q4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__nw2Q4 > :global(.__wab_flex-container) > *,
.freeBox__nw2Q4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nw2Q4 > :global(.__wab_flex-container) > picture > img,
.freeBox__nw2Q4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__bEyNp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__nhUb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___9PmEt:global(.__wab_instance) {
  position: relative;
}
.svg__seR3V {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__pKp1 {
  height: auto;
}
.svg__imdL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___6Qfr6:global(.__wab_instance) {
  position: relative;
}
.svg__bv1Y4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text___6K70 {
  height: auto;
}
.svg___3FCyM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__lQvRh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__lQvRh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__lQvRh > :global(.__wab_flex-container) > *,
.freeBox__lQvRh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lQvRh > :global(.__wab_flex-container) > picture > img,
.freeBox__lQvRh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__a0Hup {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__qx5O {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__bwklx {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__bwklx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__bwklx > :global(.__wab_flex-container) > *,
.freeBox__bwklx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bwklx > :global(.__wab_flex-container) > picture > img,
.freeBox__bwklx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__qxFm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uEan2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__tzc20:global(.__wab_instance) {
  position: relative;
}
.svg__uzrd7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yFvpg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___3QjXb:global(.__wab_instance) {
  position: relative;
}
.svg__fWYcQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1X1Y9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___5OrYf:global(.__wab_instance) {
  position: relative;
}
.svg___5MzbV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9T6Y {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__sD7Zt {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__sD7Zt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__sD7Zt > :global(.__wab_flex-container) > *,
.freeBox__sD7Zt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sD7Zt > :global(.__wab_flex-container) > picture > img,
.freeBox__sD7Zt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__mj4Jj:global(.__wab_instance) {
  position: relative;
}
.svg__j0B0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pSvw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__c4WRu:global(.__wab_instance) {
  position: relative;
}
.svg___4Vwv1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ao7Gu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___1TQ8H:global(.__wab_instance) {
  position: relative;
}
.svg__hes7B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__a4H4N {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
