.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 2500px;
  height: 430px;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: center;
  background: #fdfdfd80;
  position: relative;
  padding: 18px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    height: 250px;
    width: auto;
    max-width: auto;
    display: inline-flex;
  }
}
.text__smHaA {
  position: relative;
  width: auto;
  height: 100px;
  max-width: 100%;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  font-size: 28px;
  background: var(--token-OVD0rWPL-t7t);
  color: #ffffff;
  font-weight: 700;
  align-self: center;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 29px;
  padding-top: 30px;
  border-radius: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__smHaA {
    font-size: 14px;
    margin-bottom: 10px;
    height: 50px;
    padding: 8px;
  }
}
.sliderCarousel:global(.__wab_instance) {
  width: 1500px;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  overflow: hidden;
  align-self: stretch;
  text-align: center;
  font-weight: 300;
  height: 400px;
  flex-shrink: 0;
  border-radius: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel:global(.__wab_instance) {
    height: 250px;
    width: auto;
  }
}
.freeBox___7XnCs {
  display: flex;
  position: relative;
  width: 350px;
  height: 400px;
  max-width: 100%;
  flex-direction: column;
  overflow: visible;
  border-radius: 0px;
  padding: 8px;
  border-width: 1px;
}
.freeBox___7XnCs > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox___7XnCs > :global(.__wab_flex-container) > *,
.freeBox___7XnCs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7XnCs > :global(.__wab_flex-container) > picture > img,
.freeBox___7XnCs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.img__wGXy6 {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 200px;
  border: 1px solid #024e74;
}
.img__wGXy6 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__wGXy6 {
    width: 90px;
    height: 90px;
    flex-shrink: 0;
  }
}
.text__wRspA {
  position: relative;
  width: 350px;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wRspA {
    font-size: 12px;
  }
}
.text__bol8M {
  position: relative;
  width: 350px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: #191919;
  font-weight: 500;
  font-family: "Vazirmatn", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bol8M {
    font-size: 8px;
  }
}
.freeBox___5PLyi {
  display: flex;
  position: relative;
  width: 350px;
  height: 400px;
  max-width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: visible;
  border-radius: 0px;
  padding: 8px;
}
.img__fk0KR {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 200px;
  height: auto;
  border-radius: 200px;
  border: 1px solid #024e74;
}
.img__fk0KR > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fk0KR {
    width: 90px;
    height: 90px;
    flex-shrink: 0;
  }
}
.text__waUHa {
  position: relative;
  width: 350px;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 700;
  color: #000000;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__waUHa {
    font-size: 12px;
  }
}
.text__ebk1D {
  position: relative;
  width: 350px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: #191919;
  font-weight: 500;
  font-family: "Vazirmatn", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ebk1D {
    font-size: 8px;
  }
}
.freeBox___6G5Qw {
  display: flex;
  position: relative;
  width: 350px;
  height: 400px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: visible;
  border-radius: 0px;
  padding: 8px;
}
.img__mrs9V {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 200px;
  height: auto;
  border-radius: 200px;
  border: 1px solid #024e74;
}
.img__mrs9V > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__mrs9V {
    width: 90px;
    height: 90px;
    flex-shrink: 0;
  }
}
.text___8Ya54 {
  position: relative;
  width: 350px;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8Ya54 {
    font-size: 12px;
  }
}
.text___3SvT {
  position: relative;
  width: 350px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: #191919;
  font-weight: 500;
  font-family: "Vazirmatn", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3SvT {
    font-size: 8px;
  }
}
.freeBox__cu9A7 {
  display: flex;
  position: relative;
  width: 350px;
  height: 400px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: visible;
  border-radius: 0px;
  padding: 8px;
}
.img__nzkas {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 200px;
  height: auto;
  border-radius: 200px;
  border: 1px solid #024e74;
}
.img__nzkas > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__nzkas {
    width: 90px;
    height: 90px;
    flex-shrink: 0;
  }
}
.text__a6Sjg {
  position: relative;
  width: 350px;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__a6Sjg {
    font-size: 12px;
  }
}
.text__qcwb4 {
  position: relative;
  width: 350px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: #191919;
  font-weight: 500;
  font-family: "Vazirmatn", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qcwb4 {
    font-size: 8px;
  }
}
